// Variables
$generic-box-shadow: rgba(#000, 0.1) 0px 0px 0px 1px, rgba(#000, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;
// text-colors
$text-white: #fafafa;
$text-black: #202020;
$text-delete: #cc4643;
$sidebar-hover-color: #f3f3f3;